html {
    padding: 0%;
}

div {
    width: 100%;
    display: inline-block;
    padding: 0px 8px;
    box-sizing: border-box;
}

p {
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    font-size: 28px;
}

li {
    display: inline;
    float: left;
    text-align: center;
    color: black;
}

a {
    display: block;
    padding: 8px;
    background-color: white;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: inline-block;
}

.navbar {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a:link { 
    text-decoration: none; 
    color: black;
}

a:unvisited {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background-color: #182B49;
    color: white;
}

img {
    max-width: 100%;
}

#athletics {
    scroll-margin-top: 134.67px;
    background-color: rgb(245, 240, 230);
}

#colleges {
    scroll-margin-top: 134.67px;
    background: url(images/bg-orbs-1.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
}

#fourbox {
    scroll-margin-top: 134.67px;
    background-color: rgb(245, 240, 230);
    padding: 0px 25px;
    box-sizing: border-box;
}

/*
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}   

.one {
    grid-column: 1;
    grid-row: 1;
    color: white;
    background-color: #182B49;
}

.two {
    grid-column: 2;
    grid-row: 1;
    color: white;
    background-color: #182B49;
}

.three {
    grid-column: 3;
    grid-row: 1;
    color: white;
    background-color: #182B49;
}

.four {
    grid-column: 4;
    grid-row: 1;
    color: white;
    background-color: #182B49;
}
*/

.container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    display: grid;
    padding: 1rem 0;
}

.box {
    color: white;
    background-color: #182B49;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    flex: 1;
    max-height: 500px;
    overflow: scroll;
}


@media screen and (max-width: 800px) {
    a {
        display: none;
    }
    
    #logo {
        max-width: 75%
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        display: grid;
        padding: 1rem 0;
    }
}